body {
  font-family: Roboto, sans-serif;
  margin: 0;
  width: 1500px;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
}

.header {
  height: 72px;
  background-color: #1F2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px;

}

.footer {
  height: 72px;
  background-color: #1F2937;
}

.section1 {
  height: 400px;
  background-color: #1F2937;
}

.section2 {
  height: 400px;
  background-color: #FFFFFF;

}

.section3 {
  height: 400px;
  background-color: #E5E7EB;
}

.section4 {
  height: 400px;
  background-color: #FFFFFF;
}

.left-logo {
  font-size: 24px;
  font-weight: bold;
  color: #F9FAF8;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: #E5E7EB;
  text-decoration: none;
  font-size: 18px;
}